*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto";
}
.indicator{
    position: fixed;
    top: 0px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    height: 0.5rem;
    /* width: 100px; */
    background-color: rgb(204, 18, 89);
}
h1{
    font-size: 52px;
    font-family: sans-serif;
    margin: 12px 0px;
}
p{
    line-height: 2;
    margin: 20px 0px;
}
article{
    max-width: 920px;
    margin: 36px auto;
    padding: 36px;
    text-align: justify;
    border: 2px solid #C0C0C0;
}
article img{
    margin: 22px 20px;
    width: 80%;
}
footer{
    color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    background-color: #292929;
}
#top-button{
    background-color: rgb(190, 35, 94);
    position: fixed;
    padding: 12px;
    border-radius: 8px;
    bottom: 16px;
    left: 92%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    pointer-events: none;
    transition: all 0.5s;
    opacity: 0;

}
#top-button.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.fa-chevron-up{
    font-size: larger;
    color: #f7f7f7;
}